html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
}

.nav__wrapper, .collection__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  height: 100vh;
  text-align: center;
}
.header video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
}
.header__heading {
  margin: 20rem auto 0;
}
.header__heading h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.9rem;
  line-height: 2.2rem;
}
.header__heading .black {
  color: black;
}
.header__heading a {
  display: inline-block;
  margin-top: 2rem;
  background-color: inherit;
  color: white;
  border: 0.2rem solid white;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.2rem 4rem;
  transition: all 0.25s;
  text-decoration: none;
  letter-spacing: 0.3rem;
}
.header__heading a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.collection {
  padding: 0.1rem;
}
.collection__main {
  justify-content: flex-end;
  width: 85rem;
  margin: 10rem auto 0;
  position: relative;
}
.collection__main--heading {
  position: absolute;
  left: 0;
}
.collection__main--heading h1 {
  font-size: 6.3rem;
  line-height: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.collection__main--heading .green {
  color: greenyellow;
}
.collection__main--heading a {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 1.1rem 4.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.collection__main img {
  height: 35rem;
  width: 73rem;
}
.collection__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 85rem;
  margin: 3.5rem auto 10rem;
}
.collection__item {
  height: 36rem;
}
.collection__item img {
  height: 100%;
}

.about {
  height: 80rem;
  background: url("../../img/skateboard7.png");
  background-size: cover;
  padding: 0.1rem;
}
.about__info {
  background-color: black;
  color: white;
  width: 53rem;
  height: 32rem;
  position: relative;
  margin-top: 22rem;
  float: right;
  margin-right: 13%;
}
.about__info h1 {
  line-height: 7rem;
  font-size: 7rem;
  position: absolute;
  left: -5rem;
  top: 3rem;
  margin: 0;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}
.about__info p {
  width: 65%;
  margin: 13rem auto 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.about__info a {
  color: black;
  background-color: white;
  padding: 1.3rem 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  right: 5rem;
  bottom: -2rem;
  transition: all 0.3s;
}
.about__info a:hover {
  cursor: pointer;
  border: 0.2rem solid black;
}

.nav {
  margin-top: 5rem;
}
.nav__wrapper {
  width: 95rem;
  height: 100%;
  margin: 0 auto;
}
.nav__logo {
  width: 13.5rem;
}
.nav__list {
  list-style: none;
}
.nav__items {
  margin-right: 3rem;
}
.nav__items a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.nav__items img {
  height: 2.7rem;
}
.nav .active a {
  color: greenyellow;
}

/*# sourceMappingURL=main.css.map */
