html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
}

.nav__wrapper, .collection__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  height: 100vh;
  text-align: center;
}
.header video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
}
.header__heading {
  margin: 20rem auto 0;
}
.header__heading h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.35rem;
  line-height: 1rem;
}
.header__heading .black {
  color: black;
}
.header__heading a {
  display: inline-block;
  margin-top: 2rem;
  background-color: inherit;
  color: white;
  border: 0.2rem solid white;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.2rem 4rem;
  transition: all 0.25s;
  text-decoration: none;
  letter-spacing: 0.3rem;
}
.header__heading a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.collection {
  padding: 0.1rem;
}
.collection__main {
  justify-content: flex-end;
  width: 85rem;
  margin: 1rem auto 0;
  position: relative;
}
.collection__main--heading {
  position: absolute;
  left: 0;
  top: 1.5rem;
  height: auto;
}
.collection__main--heading h1 {
  font-size: 6.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 900;
}
.collection__main--heading .green {
  color: #3ABA89;
}
.collection__main--heading a {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 1.4rem 4.2rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.collection__main img {
  height: 35rem;
  width: 73rem;
}
.collection__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 85rem;
  margin: 3.5rem auto 10rem;
}
.collection__item {
  height: 36rem;
}
.collection__item img {
  height: 100%;
}

.about {
  height: 80rem;
  background: url("../../img/skateboard7.png");
  background-size: cover;
  padding: 0.1rem;
}
.about__info {
  background-color: black;
  color: white;
  width: 53rem;
  height: 32rem;
  position: relative;
  margin-top: 22rem;
  float: right;
  margin-right: 13%;
}
.about__info h1 {
  line-height: 7rem;
  font-size: 6rem;
  position: absolute;
  left: -5rem;
  top: 2rem;
  margin: 0;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}
.about__info p {
  width: 65%;
  margin: 11rem auto 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 100;
}
.about__info a {
  color: black;
  background-color: white;
  padding: 1.3rem 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  right: 5rem;
  bottom: -2rem;
  transition: all 0.3s;
}
.about__info a:hover {
  cursor: pointer;
  border: 0.2rem solid black;
}

.footer {
  background-color: black;
  padding: 0.1rem;
}
.footer__wrapper {
  width: 95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.5rem auto;
}
.footer__links--list {
  padding: 0;
  list-style: none;
}
.footer__links--link {
  margin: 0.5rem 0;
}
.footer__links--link a {
  color: white;
  font-size: 1.5rem;
}
.footer__links--link:last-child {
  margin-top: 2rem;
}
.footer__links--link:last-child a {
  text-decoration: none;
}
.footer__links--link:last-child img {
  width: 2rem;
  margin-right: 0.65rem;
}
.footer__social h3 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 0;
  font-weight: 500;
}
.footer__form {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.footer__form input {
  border: none;
  text-indent: 1rem;
  width: 25rem;
  height: 4rem;
  font-size: 1.5rem;
}
.footer__form button {
  background-color: inherit;
  border: 0.2rem solid white;
  color: white;
  height: 4.3rem;
  width: 15.5rem;
  margin-left: 0.9rem;
  font-size: 1.4rem;
}
.footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer__items {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}
.footer__items img {
  width: 1.5rem;
}
.footer__items:first-child {
  margin-left: 0;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer__bottom span {
  font-size: 1.2rem;
}

.contact__heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 18rem auto 5rem;
  width: 90rem;
  position: relative;
}
.contact__heading h1 {
  font-size: 6.5rem;
  margin: 0;
  position: absolute;
  z-index: 25;
  left: -2.5rem;
  top: -0.5rem;
  letter-spacing: 1.3rem;
}
.contact__heading img {
  height: 36rem;
}
.contact__secondary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90rem;
  margin: 8.5rem auto;
}
.contact__store {
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.contact__store li {
  font-size: 1.4rem;
  margin: 0.3rem 0;
  font-weight: 300;
}
.contact__store li p {
  margin: 0;
}
.contact__store li:first-child {
  margin: 0 0 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
}
.contact__hours {
  padding: 0;
  list-style: none;
}
.contact__hours li {
  font-size: 1.4rem;
  margin: 0.3rem 0;
  font-weight: 300;
}
.contact__hours li p {
  margin: 0;
}
.contact__hours li:first-child {
  margin: 3rem 0 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
}
.contact__form {
  width: 33rem;
}
.contact__form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.contact__form button {
  float: right;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 0.6rem 2.5rem;
  margin-top: 0.5rem;
}
.contact__maps {
  width: 31rem;
}
.contact__maps img {
  width: 100%;
}

.form__top {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
.form__top--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form__top--left input {
  width: 16rem;
  text-indent: 0.5rem;
  height: 2.7rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  border: 0.1rem solid darkgray;
}
.form__top textarea {
  width: 15rem;
  text-indent: 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid darkgray;
  height: 8.9rem;
  padding-top: 1rem;
}

.faq {
  width: 90rem;
  margin: 5rem auto;
}
.faq h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.faq__questions {
  padding: 0;
  list-style: none;
}
.faq__question {
  border-bottom: 0.05rem solid black;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.faq__question span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
}
.faq__question span img {
  width: 1.5rem;
}
.faq__question span img:hover {
  cursor: pointer;
}
.faq__question p {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.faq ol {
  font-size: 1.5rem;
  font-weight: 300;
}

.question__wrapper {
  display: none;
}

.story__heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 13.5rem auto 5rem;
  width: 90rem;
  position: relative;
}
.story__heading img {
  height: 31.5rem;
}
.story__heading h1 {
  position: absolute;
  top: 2rem;
  left: -2.2rem;
  letter-spacing: 1.3rem;
  font-size: 6.5rem;
  line-height: 7.2rem;
  margin-top: 0;
}
.story__info {
  width: 90rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.story__info--left {
  width: 35rem;
  margin-right: 7rem;
  margin-top: 0;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.8rem;
}
.story__info--right {
  width: 60rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
}
.story__info--right p {
  margin: 0;
}
.story__info--right p:first-child {
  margin-bottom: 2rem;
}
.story__team {
  width: 90rem;
  margin: 8rem auto;
}
.story__team h1 {
  font-size: 3.8rem;
  letter-spacing: 0.7rem;
  margin-bottom: 1.5rem;
}
.story__teamList {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}
.story__teamItem {
  width: 28rem;
}
.story__teamItem img {
  width: 100%;
}
.story__teamItem h3 {
  font-size: 2.3rem;
  margin: 2.3rem 0 0.5rem;
}
.story__teamItem p {
  font-size: 1.5rem;
  width: 25rem;
  margin-top: 0;
  font-weight: 100;
  line-height: 2rem;
}

.blog__heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 18rem auto 0;
  width: 95rem;
  position: relative;
}
.blog__heading img {
  height: 34rem;
}
.blog__heading h1 {
  position: absolute;
  top: 2rem;
  left: -0.5rem;
  letter-spacing: 1.3rem;
  font-size: 6.5rem;
  line-height: 7.2rem;
  margin-top: 0;
  font-weight: 900;
}
.blog__warning {
  width: 95rem;
  height: 6rem;
  margin: 0 auto 5rem;
  background-color: #3ABA89;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__warning span {
  font-size: 1.5rem;
  color: white;
}
.blog__list {
  padding: 0;
  list-style: none;
  width: 90rem;
  margin: 5rem auto;
}
.blog__item {
  display: flex;
  margin: 5rem 0;
}
.blog__item img {
  height: 36rem;
}
.blog__item--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  width: 100%;
}
.blog__item--top img {
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 0.9rem;
}
.blog__item--top img:last-child {
  margin-right: 0;
  height: 1.5rem;
  width: 1.5rem;
}
.blog__item--top .left {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: gray;
}
.blog__item--info {
  width: 35rem;
  margin-left: 5rem;
  margin-top: 2.8rem;
}
.blog__item--info .heading {
  color: black;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  line-height: 3.8rem;
  transition: all 0.3s;
  font-weight: 900;
}
.blog__item--info .heading:hover {
  color: #3ABA89;
}
.blog__item--info p {
  color: gray;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid lightgray;
  padding-bottom: 7rem;
}
.blog__item--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog__item--bottom img {
  width: 1.5rem;
  height: 1.5rem;
}
.blog__item--bottom a {
  color: gray;
  text-decoration: none;
  margin-left: 1rem;
}
.blog__item--bottom span {
  font-size: 1.3rem;
  color: gray;
}

.article {
  width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
}
.article__heading span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.35rem;
}
.article__heading span img {
  width: 3.5rem;
  margin-right: 1rem;
}
.article__heading h1 {
  font-size: 5.5rem;
  line-height: 6.3rem;
  letter-spacing: 0.7rem;
  margin-bottom: 0;
}
.article__heading p {
  font-size: 1.85rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.article__image {
  width: 100%;
}
.article .imageInfo {
  font-size: 1.6rem;
  width: 66rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
}
.article .italicParagraph {
  font-size: 2.1rem;
  font-style: italic;
  width: 60rem;
  letter-spacing: 0.1rem;
  border-left: 0.2rem solid #3ABA89;
  padding-left: 2rem;
  margin: 3rem 0;
  font-weight: 300;
}
.article .paragraph1, .article .paragraph2, .article .paragraph3 {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
}
.article h3 {
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  margin: 2.5rem 0;
  font-weight: 500;
}
.article__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  border-top: 0.15rem solid lightgrey;
  border-bottom: 0.15rem solid lightgrey;
  margin: 6.4rem 0 1.5rem;
  padding: 2rem;
}
.article__item {
  margin-right: 2.5rem;
}
.article__item img {
  height: 2rem;
}
.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.article__footer img {
  height: 1.8rem;
  margin-right: 0.3rem;
}
.article__footer span {
  font-size: 1.4rem;
  margin-left: 0.3rem;
}

.nav {
  margin-top: 5rem;
}
.nav__wrapper {
  width: 95rem;
  height: 100%;
  margin: 0 auto;
}
.nav__logo {
  width: 13.5rem;
}
.nav__list {
  list-style: none;
}
.nav__items {
  margin-right: 3rem;
}
.nav__items a {
  font-size: 1.5rem;
  color: #3ABA89;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.nav__items img {
  height: 2.7rem;
}
.nav .active a {
  color: #103225;
}

.shopping-cart {
  position: relative;
}
.shopping-cart h5 {
  color: #fcfcfc;
  font-size: 1.3rem;
  font-weight: 200;
  position: absolute;
  top: -1.1rem;
  left: 1rem;
}

.shopping-cart:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
