.nav {
    margin-top: 5rem;

    &__wrapper {
        width: 95rem;
        height: 100%;
        margin: 0 auto;
        @extend %flex-between;
    }

    &__logo {
        width: 13.5rem;
    }

    &__list {
        @extend %flex-end;
        list-style: none;
    }

    &__items {
        margin-right: 3rem;

        a {
            font-size: 1.5rem;
            color: #3ABA89;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .2rem;
        }

        img {
            height: 2.7rem;
        }
    }

    .active {
        a {
            color: darken(#3ABA89, 35%)
        }
    }
}

.shopping-cart {
    position: relative;

    h5 {
        color: darken(white, 1%);
        font-size: 1.3rem;
        font-weight: 200;
        position: absolute;
        top: -1.1rem;
        left: 1rem;
    }
}

.shopping-cart:hover {
    cursor: pointer;
}