.about {
    height: 80rem;
    background: url("../../img/skateboard7.png");
    background-size: cover;
    padding: .1rem;

    &__info {
        background-color: black;
        color: white;
        width: 53rem;
        height: 32rem;
        position: relative;
        margin-top: 22rem;
        float: right;
        margin-right: 13%;

        h1 {
            line-height: 7rem;
            font-size: 6rem;
            position: absolute;
            left: -5rem;
            top: 2rem;
            margin: 0;
            letter-spacing: 1.2rem;
            text-transform: uppercase;
        }

        p {
            width: 65%;
            margin: 11rem auto 0;
            font-size: 1.5rem;
            line-height: 2.2rem;
            font-weight: 100;
        }

        a {
            color: black;
            background-color: white;
            padding: 1.3rem 3rem;
            text-decoration: none;
            font-size: 1.5rem;
            text-transform: uppercase;
            position: absolute;
            right: 5rem;
            bottom: -2rem;
            transition: all .3s;
        }

        a:hover {
            cursor: pointer;
            border: .2rem solid black;
        }
    }
}