.story {
    &__heading {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 18rem auto 5rem;
        width: 90rem;
        position: relative;

        img {
            height: 34rem;
        }

        h1 {
            position: absolute;
            top: 2rem;
            left: -2.2rem;
            letter-spacing: 1.3rem;
            font-size: 6.5rem;
            line-height: 7.2rem;
            margin-top: 0;
        }
    }
}